@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body	{font-family: '맑은 고딕', 'Apple SD Gothic Neo', sans-serif}

.mainFrame {
    max-width: 828px;
    min-width: 799px;
    margin: auto;
    padding: 0 40px 60px 40px;
}

.selectSeat {
    margin-bottom: 30px;
}

.selectSeatTitle {
    border-top: 2px solid #2B2725;
    background: #F7F7F7;
    padding: 10px;
}

.selectSeatContain {
    flex: auto;
    display: flex;
    list-style: none;
    border: 1px solid #d9d9d9;
}

.selectSeatItem{
    flex-grow: 1;
    text-align: center;
    padding: 12px 9px 21px 9px;
    color: #4d4d4d;
    border-right: 1px solid #d9d9d9;
}

.selectSeatItem:last-child {
    border-right: 0px;
}

.selectSeatItem:hover {
    cursor: pointer;
    background-color: #ffbc80;
}

.selectSeatItem img {
    max-width: 140px;
    min-height: 100px;
    margin-bottom: 10px;
}

.checkIcon {
    width: 20px;
}


